@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --primary-color: #28bf96;
    --primary-color-dark: #209677;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}

.header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
}

.content h1 span {
    font-weight: 400;
}

.content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75rem;
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}

.image__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}

.image img {
    width: 100%;
    max-width: 475px;
}

.image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.image__content__1 {
    transform: translate(calc(-50% - 12rem), calc(-50% - 8rem));
}

.image__content__1 span {
    padding: 10px 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: #defcf4;
    border-radius: 100%;
}

.image__content__1 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.image__content__1 p {
    color: var(--text-light);
}

.image__content__2 {
    transform: translate(calc(-50% + 8rem), calc(-50% + 10rem));
}

.image__content__2 ul {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.image__content__2 li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: var(--text-light);
}

.image__content__2 span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/*==search==*/

.appointment-search-container{
    max-width: 1000px;
    width: 90%;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 16px 30px rgba(0,0,0,12);
    z-index: 3;
    position: relative;
    margin-top: -60px;
}
.appointment-search-container h3{
    color: #28bf96;
    font-size: 1rem;
    margin-bottom: 5px;
}
.appointment-search{
    display: grid;
    grid-template-columns: 1fr 1fr 60px;
    grid-gap: 10px;
}
.appo-search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7fbff;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
}
.appo-search-box i{
    color: #535353;
    margin-right: 10px;
}
.appo-search-box input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.appointment-search button{
    background-color: #014dd5;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}
/*--what-we-provide-----------*/
.what-we-provide{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.w-info-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.w-info-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 1.4rem;
    background-color: #ffdad4;
    border-radius: 5px;

}
.w-info-box1 .w-info-icon{
    background-color: #ffdad4;
}
.w-info-box2 .w-info-icon{
    background-color: #defcf4;
}
.w-info-box3 .w-info-icon{
    background-color: #d4e7ff;
}
.w-info-text{
    display: flex;
    flex-direction: column;
}
.w-info-text strong{
    color: #28bf96;
    font-weight: 700;
}
.w-info-text p{
    color: #535353;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
}


/*==our-story=======================*/
#our_story{
    background-color: #f5f7fb;
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
    border: 10px solid #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.12);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.our-story-img{
    position: relative;
    display: flex;
}
.our-story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.story-play-btn{
    position: absolute;
    left: 10px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dd3f3f;
    padding: 20px 10px;
    border-radius: 4px 4px 10px 10px;
    color: #ffffff;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 500;
}
.story-play-btn i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #aa2f0a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.our-stroy-text{
    padding: 50px;
}
.our-stroy-text h2{
    font-size: 2.8rem;
    color: #122853;
    line-height: 3rem;
}
.our-stroy-text p{
    color: #535353;
    font-size: 0.9rem;
    margin: 10px 0px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
}
.our-stroy-text p a{
    color: #122853;
    text-decoration: underline;
}
.story-numbers-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.story-numbers-box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.story-numbers-box strong{
    color: #122853;
    font-weight: 700;
    font-size: 1.8rem;
}
.story-numbers-box span{
    color: #535353;
    font-size: 0.9rem;
}
.s-n-box1{
    background-color: #d4dfff;
}
.s-n-box2{
    background-color: #d4e7ff;
}
.s-n-box3{
    background-color: #ffd4fd;
}
.s-n-box4{
    background-color: #d7d4ff;
}


/*--Doctors------*/
.doctors{
    background-color: #f5f7fb;
    padding: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}





/*--Select--------*/
.select{
   
        max-width: 550px;
        width: 90%;
        background-color: #ffffff;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 2px 16px 30px rgba(0,0,0,12);
        z-index: 3;
        position: relative;
        margin-top: 40px;
        margin-left: 450px;
        align-content: center;

        width: 100%;
        display: flex;
        justify-content: space-between;
        
        background-color: #f7fbff;
        padding: 15px;
        border-radius: 4px;
        border: 1px solid #e4e4e4;
    
}


/*==subscribe=====================*/
#subscribe{
    max-width: 1000px;
    width: 90%;
    background-color:#174dac;
    padding: 50px;  
    border-radius: 10px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subscribe h3{
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 3.4rem;
    max-width:600px;
    text-align: center;
}
.subscribe-box{
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    height: 50px;
    display: flex;
    padding: 5px;
    margin-top: 20px;
}
.subscribe-box input{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
}
.subscribe-box button{
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    max-width: 120px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4px;
}


/*==footer================================*/
footer{
    width: 100%;
    background-color:  #f5f7fb;
}
.footer-container{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company-box{
    max-width: 330px;
}
.footer-company-box p{
    color: #585858;
    margin: 5px 0px;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.4rem;
}
.footer-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.footer-social a:hover{
    background-color: #122853;
    color: #ffffff;
}
.footer-link-box strong{
    font-size: 1.2rem;
    color: #122853;
    font-weight: 600;
}
.footer-link-box ul{
    margin-top: 5px;
}
.footer-container ul li a{
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
}
.footer-container ul li a:hover{
    color: #122853;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.footer-bottom span{
    color: #252525;
    font-size: 0.9rem;
}
